body{
   background-color: white;
}


.jumbotron{

    background-color: blueviolet;
}

.sectionStyle{

   min-height: 500px;
    background-size: cover;
    background-image: url(./Images/watch.jpeg);
    background-repeat: no-repeat;
}