body, html {
    height: 100%;
    width: 100%;
  }


.headerTitle{

    background-color:rgb(132, 0, 0);
}

.sectionStyle{

   
    background-size: cover;
    background-image: url(./Images/watch.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    
}

div.transbox {
    max-width: 400px;
    background-position: center;
    background-color: #ffffff;
    margin:0 auto;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  }

  div.boxstyle
  {
    margin: 20%;
   
  }

  button{
    background-color:rgb(132, 0, 0);
    color: white;
    border-width: 0;
    width: 90px;
    
  }

  div.logo{
      margin: 0 auto;
  }

  img.dfslogo
  {
    max-width: 50px;
    max-height: 100px;
    display:block;
    margin:auto;
  }

  .textbox{
      width:80%;
      
  }

  p{
      color: black;
      font-weight: bolder;
      margin: 0 auto;
      text-align: center;
  }

  label
  {

    font-weight: bold;
  }
  